.page__content {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: visible;  // 이거 꼭 확인!
}


.tableau-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 */
  height: 0;
  overflow: hidden;
}

.tableau-responsive .tableauPlaceholder,
.tableau-responsive object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
