---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main partials

.page__main, .post__content {
  max-width: 1200px !important;  // 기본 제한 풀기
  width: 100% !important;      // 최대 폭으로 설정
}

.tableauPlaceholder {
  width: 100% !important;
  max-width: 1200px;  // 필요에 따라 조절
  margin: 0 auto;
}
