---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main partials

.page__main, .post__content {
  max-width: 1200px !important;  // 기본 제한 풀기
  width: 100% !important;      // 최대 폭으로 설정
}

.tableauPlaceholder {
<<<<<<< HEAD
  width: 100% !important;
  max-width: 1200px;  // 필요에 따라 조절
  margin: 0 auto;
=======
  width: 100% !important;   // 부모 컨테이너 폭에 맞게 넓히기
  max-width: None;        // 최대 너비 제한 (원하는 값으로 조절)
  height: 700px !important; // 높이는 적당히 맞게 조절하세요
  margin: 0 auto;           // 가운데 정렬
>>>>>>> 0060a112525f38d8f466ae2dc52d71756bc76de9
}
